.MessageSender {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 2px;
}

.MessageSender__message-textarea {
    width: 70%;
    height: 70px;
    resize: none;
}

.MessageSender__message-author {
    width: 20%;
    display: flex;
    height: 70px;
    flex-direction: column;
    justify-content: space-around;
}

.MessageSender__btn-send {
    height: 30px;
}