.Message {
    margin-bottom: 10px;
    border: 1px solid forestgreen;
    border-radius: 2px;
}

.Message:last-child {
    margin: 0;
}

.Message .Message__paragraph {
    margin: 0;
    padding: 5px;
}

.Message .Message__paragraph_spacing {
    margin-left: 10px;
}